.DownloadApplication {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: flex-start;
  margin-top: 2rem;
  gap: 5rem;
}
.DownloadApplication img {
  width: 40rem;
  height: fit-content;
}
.DownloadApplication .app {
  color: #595959;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: Inter-Regular;
  width: 15%;
  text-align: left;
  margin-top: 3rem;
}
.app {
  margin: 0;
}
.app .btn {
  background-color: #ffd369;
  color: #595959;
  font-weight: 700;
  /* padding: 0.6rem 1rem; */
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .DownloadApplication {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 2rem;
    gap: 5rem;
  }
  .DownloadApplication img {
    width: 15rem;
  }
  .DownloadApplication .app {
    width: 80%;
    font-family: Inter-Medium;

    justify-content: center;

    color: #595959;
    display: flex;
    flex-direction: column;
    align-items:center;
    font-family: Inter-Regular;

    text-align: center;
    margin-top: rem;
  }
  .DownloadApplication .app h1 {
    font-size: 2rem;
  }
  .DownloadApplication .app p {
    line-height: 40px;
  }
}
