.button-box {
  width: 100%;
  height: 2.2rem;
  display: inline;
}
.button {
  width: 30%;
  height: 4rem;
  border-style: none;
  color: #737373;
  overflow: hidden;
  font-size: large;
  border-bottom: 3px solid #c4cad0;
  margin: auto 2.5rem;
  font-family: Dana;
  cursor: pointer;
  background-color: #f2f2f2;
}
.active {
  color: #737373;
  border-bottom: 3px solid#FFD369;
  font-weight: bold;
}

.button:hover {
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .button {
    margin: auto 1rem;
  }
}
