.button-box {
  width: 100%;
  height: 2.2rem;
  display: inline;
}
.button {
  width: 50%;
  height: 4rem;
  border-style: none;
  color: #737373;
  padding: 0 2rem;
  overflow: hidden;
  font-size: large;
  border-bottom: 3px solid #c4cad0;
  margin-top: 2rem;
  font-family: Dana;
  cursor: pointer;
}
.active {
  color: rgba(0, 120, 212, 1);
  border-bottom: 3px solid rgba(0, 120, 212, 1);
  font-weight: bold;
}

.button:hover {
  font-weight: bold;
}
