.navFooter {
  width: 100%;
  margin-top: 3rem;
  color: #eeeeee;
}
.navFooter .footerList {
  background: #393e46;
  display: flex;
  justify-content: space-around;
  overflow: 3rem;
  padding: 4rem 21rem;
  justify-content: space-around;
  text-align: left;
  gap: 20px;
}
.footerList ul li {
  list-style-type: none;
}
.footerList ul {
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.footerList .socialMedia {
  display: flex;
  flex-direction: row;
}
.socialMedia .color {
  color: #eeeeee;
}
.footerBotton {
  background-color: #393e46 !important;
  text-align: center;
  color: #eeeeee;
  display: flex;
  justify-content: left;
  gap: 1rem;
  padding: auto 4rem;
}
.footerBotton .logoFooter {
  width: 54%;
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.footerBotton img {
  width: 2rem !important;
}
@media screen and (max-width: 768px) {
  .navFooter .footerList {
    background: #393e46;
    display: flex;
    justify-content: space-around;
    overflow: 3rem;
    padding: 0;
    justify-content: space-around;
    text-align: left;
    gap: 0px;
    flex-direction: column;
  }
  .footerList ul {
    margin-top: 2rem;
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 73%;
    justify-content: space-around;
}
  }
  .socialMedia {
    width: 43%;
    justify-content: space-around;
    align-items: center;
  }
  .footerBotton .logoFooter {
    width: 77%;
    gap: 15px;
  }
  .logoFooter p {
    width: 64%;
    font-size: 0.4rem;
  
}
