.navFooter {
  width: 100%;
  margin-top: 3rem;
  color: white;
}
.navFooter .nav {
  background: #393e46;
  display: flex;
  justify-content: space-around;
  overflow: 3rem;
  padding: 4rem 15rem;
  justify-content: space-around;
  text-align: left;
  gap: 20px;
}
.nav ul li {
  list-style-type: none;
}
.nav ul {
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.nav .socialMedia {
  display: flex;
  flex-direction: row;
}
.socialMedia .color {
  color: white;
}

@media screen and (max-width: 768px) {
  .navFooter .nav {
    background: #393e46;
    display: flex;
    justify-content: space-around;
    overflow: 3rem;
    padding: 0;
    justify-content: space-around;
    text-align: left;
    gap: 0px;
    flex-direction: column;
  
  }
  .nav ul {
    margin-top: 2rem;
    gap: 10px;
    display: flex;
    flex-direction: row;
  }
}
