.inputBox {
  display: flex !important;
  flex-direction: column !important;
  margin: 1rem !important;
}
.inputBox label {
  font-size: 1.2rem;
  font-weight: 500;
}
.input {
  background-color: #d9d9d9;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.TextField {
  background-color: #d9d9d9 !important;
}
.btn {
  margin-left: 45% !important;
  margin-top: 3rem !important;
}
.styleNext {
  padding: 8px 2.2rem !important;
  background: #ffd369 !important;
  border-color: #ffd369;
  color: #595959 !important;
  font-weight: 700 !important;
}
.styleBack {
  padding: 8px 2.2rem !important;
  border-color: #ffd369 !important;
  color: #595959 !important;
  font-weight: 700 !important;
}
.titleHeader {
  text-align: center;
  margin: 1rem auto;
}
.containerInput {
  width: 100% !important;
}
@media screen and (max-width: 768px) {
  .input,
  .TextField {
    width: 100%;
  }
  /* .titleHeader {
    text-align: left !important;
    margin: 1rem !important;
  } */
}
