.container {
  margin: 3rem auto !important;
  width: 70% !important;
}
.editAccount {
  border: 2px solid #737373;
  width: 80% !important;
  border-radius: 5px;
  margin-top: 2rem;
  margin: 1rem auto !important;
}
.editAccount .card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 2rem;
  font-family: Inter-Regular;
}
.card .person h1 {
  color: #393e46;
  font-size: 1.2rem;
}
.card .person {
  line-height: 1;
}
.card .person p {
  color: #8c8c8c;
}
.card .icon {
  color: #8c8c8c !important;
}
.card .icons {
  display: flex;
  gap: 3px;
}
.Pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.textFild {
  color: #737373 !important;
  background-color: #d9d9d9 !important;
}


@media screen and (max-width: 768px) {
  .container {
    margin: 1rem auto !important;
    align-items: center !important;
    width: 90% !important;
  }
  .editAccount {
    width: 60% !important;
    margin: 0.5rem !important;
  }
  .editAccount .card {
    padding: 0.5rem;
  }
  .Pagination {
    width: 77%;
    margin: 1rem 0;
  }
}
