.inputSearch {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 0.2rem;
  width: 100%;
  padding: 7px 1rem;
  margin: auto;
  color: #737373;
  font-family: Inter-Reqular;
}
.container {
  margin: 2rem auto !important;
  width: 100% !important;
  justify-content: center !important;
  flex-direction: column !important;
}
.editAccount {
  border: 2px solid #737373;
  width: 100% !important;
  border-radius: 5px;
  margin-top: 2rem !important;
}
.editAccount .card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 2rem;
  font-family: Inter-Regular !important;
}
.card .person h1 {
  color: #393e46;
  font-size: 1.2rem;
}
.card .person {
  line-height: 1;
}
.card .person p {
  color: #8c8c8c;
}
.card .icon {
  color: #8c8c8c !important;
}
.card .icons {
  display: flex;
  gap: 3px;
}
.Pagination {
  width: 100%;
  display: flex;
  justify-content: center !important;
  margin-top: 2rem;
}
.active {
  background-color: #ffba1a;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100% !important;
    margin: 1rem !important;
  }
  .buttonsGroup {
    width: 31%;
  }
  .editAccount {
    /* width: 74% !important; */
    margin-left: 0.5rem;
  }
  .Pagination {
    width: 77%;
    margin: 2rem auto !important;
  }
}
