.inputSearch{
   display: flex;
   align-items: center;
   flex-direction: row-reverse;
   gap: 0.2rem;
   width: 100%;
   padding: 7px 1rem;
   margin: auto;
   color: #737373;
   font-family: Inter-Reqular;
}
.container{
   background: red;
   width: 60%;
   margin: 4rem auto;
}