.container {
   display: flex;
   flex-direction: column;
   width: 80%;
   margin: auto;
 }
 
 .formInputs {
   /* width: 100% !important; */
   /* margin: auto; */
   font-family: Inter-Medium;
   flex-basis: 100% !important;
   width: 80% !important;
   margin: auto;

   max-width: 100% !important;
 }
 .formInputs .form {
   display: flex;
   align-items: flex-start;
   flex-direction: row;
   justify-content: space-between;
   gap: 10px;
   font-family: Inter-Medium;
 }
 .form .leftSide {
   display: flex;
   flex-direction: column;
   align-items: initial;
   width: 45%;
 }
 .form .leftSide .jobTitle,
 
 .company,
 
 .EmploymentCommission,
 .FeildOfActivity {
   display: flex;
   flex-direction: column;
   gap: 10px;
 }
 .form .leftSide label {
   font-size: 1.2rem;
   font-weight: 500;
 }
 
 .form .leftSide .input {
   padding: 0.5rem;
   border-radius: 5px;
   background: #d9d9d9;
   border: none;
 }
 
 .form .rightSide {
   display: flex;
   flex-direction: column;
   width: 45%;
   align-items: baseline;
   gap: 10px;
 }
 .form .rightSide .Industry,
 .Company {
   display: flex;
   flex-direction: column;
   gap: 10px;
   width: 100%;
 }
 .resumeUpload {
   border: 2px dashed #8C8C8C;
   display: flex;
   align-items: center;
   margin-top: 2rem;
 
 }
 .upload {
   width: 100%;
   display: flex;
   align-items: center;
   flex-direction: row-reverse;
   align-items: center;
   justify-content: center;
   gap: 5px;
   color: #8C8C8C;
 }
 .resumeUploadBox {
   padding: 0.5rem;
   border: 2px dashed #737373;
   text-align: center;
   width: 100%;
   margin-top: 2.5rem;
 }
 .form .rightSide .input {
   padding: 0.5rem;
   border-radius: 5px;
   background: #d9d9d9;
   border: none;
 }
 .form .rightSide label {
   font-size: 1.2rem;
   font-weight: 500;
 }
 .buttons {
   display: flex;
   justify-content: end;
   margin-top: 3rem;
 }
 