.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formInputs {
  width: 100% !important;
  /* margin: auto; */
  font-family: Inter-Medium;
  flex-basis: 100% !important;

  max-width: 100% !important;
}
.formInputs .h1{
  text-align: center;
   margin:  1rem auto ;
}
.formInputs .form {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  font-family: Inter-Medium;
}
.form .leftSide {
  display: flex;
  flex-direction: column;
  align-items: initial;
  width: 45%;
}
.form .leftSide .firstNAme,
.Country,
.linkdinPAge,
.website,
.EmploymentCommission,
.FeildOfActivity {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form .leftSide label {
  font-size: 1.2rem;
  font-weight: 500;
}

.form .leftSide .input {
  padding: 0.5rem;
  border-radius: 5px;
  background: #d9d9d9;
  border: none;
}

.form .rightSide {
  display: flex;
  flex-direction: column;
  width: 45%;
  align-items: baseline;
  gap: 10px;
}
.form .rightSide .lastName,
.email,
.resumeUpload {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.resumeUpload {
  border: 2px dashed #8c8c8c;
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
.upload {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #8c8c8c;
}
.resumeUploadBox {
  padding: 0.5rem;
  border: 2px dashed #737373;
  text-align: center;
  width: 100%;
  margin-top: 2.5rem;
}
.form .rightSide .input {
  padding: 0.5rem;
  border-radius: 5px;
  background: #d9d9d9;
  border: none;
}
.form .rightSide label {
  font-size: 1.2rem;
  font-weight: 500;
}
.buttons {
  display: flex;
  justify-content: end;
  margin-top: 3rem;
}
.styleNext {
  padding: 8px 2.2rem !important;
  background: #ffd369 !important;
  border-color: #ffd369;
  color: #595959 !important;
  font-weight: 700 !important;
}
.styleBack {
  padding: 8px 2.2rem !important;
  border-color: #ffd369 !important;
  color: #595959 !important;
  font-weight: 700 !important;
  border: 3px solid #ffd369 !important;
}
.TextField {
  background-color: #d9d9d9 !important;
}



@media screen and (max-width: 768px) {
.formInputs .h1{
  text-align:start !important;
  margin-left: 0.5rem;
  width: 100% !important;
  font-size: 1.5rem;
}
.formInputs{
  width: 98% !important;
}
.formInputs .form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  font-family: Inter-Medium;
}
.form .leftSide{
  width: 100%;
    margin-left: 0.5rem;
}
.form .rightSide{
  width: 100%;
    margin-left: 0.5rem;
}
.Grid{
  width: 98%;
}
.buttons {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}


}