.inputSearch {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 0.2rem;
  width: 100%;
  padding: 7px 1rem;
  margin: auto;
  color: #737373;
  font-family: Inter-Reqular;
}
.container {
  margin: 3rem auto !important;
  width: 100% !important;
}
.editAccount {
  border: 2px solid #737373;
  width: 100% !important;
  border-radius: 5px;
  margin-top: 2rem;
  margin: 1rem auto !important;
}
.editAccount .card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 2rem;
  font-family: Inter-Regular;
}
.card .person h1 {
  color: #393e46;
  font-size: 1.2rem;
}
.card .person {
  line-height: 1;
}
.card .person p {
  color: #8c8c8c;
}
.card .icon {
  color: #8c8c8c !important;
}
.card .icons {
  display: flex;
  gap: 3px;
}
.Pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.textFild {
  color: #737373 !important;
  background-color: #d9d9d9 !important;
  width: 100% !important;
  margin: 0.5rem auto !important;
}
.boxFeb {
  margin-left: 7rem !important;
  align-self: flex-start !important;
}
.buttonsGroup {
  display: flex;
  width: 100%;
  justify-content: left !important;
  flex-wrap: wrap !important;
}
.buttonsGroup .fab {
  margin: 0.5rem !important;
  border: #595959 1px solid !important;
  flex-wrap: wrap !important;
  box-shadow: none;
  color: #595959;
  font-family: Inter-Regular;
  background-color: #d9d9d9;
}
.fab:hover {
  background-color: #ffba1a !important;
  color: #595959;
}
.active {
  background-color: #ffba1a;
}

@media screen and (max-width: 768px) {
  .editAccount {
    width: 100% !important;
  }
  .Pagination {
    width: 77%;
    margin: 2rem 0;
  }
  .textFild {
    width: 60% !important;
    margin: 0 !important;
  }
  .boxFeb {
    margin-left: 0 !important;
    flex-wrap: wrap !important;
  }
  .buttonsGroup {
    flex-wrap: wrap !important;
    width: 70% !important;
  }
}
