* {
  scroll-behavior: smooth !important;
}
html,
body {
  height: 100vh !important;
  width: 100% !important;
  padding: 0;
  box-sizing: border-box;
  font-family: IRANSansX-Medium !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}
a {
  text-decoration: none !important;
}

#root {
  overflow-x: hidden;
}
