@font-face {
  font-family: Inter-Bold;
  src: url(../public/Inter-font-fb-8767654/Fonts/Inter\ Bold.otf);
}
@font-face {
  font-family: Inter-Regular;
  src: url(../public/Inter-font-fb-8767654/Fonts/Inter\ Regular.otf);
}
@font-face {
  font-family: Inter-Medium;
  src: url(../public/Inter-font-fb-8767654/Fonts/Inter\ Medium\ Italic.otf);
}

* {
  scroll-behavior: smooth !important;
}
html,
body {
  height: 100vh !important;
  width: 100% !important;
  padding: 0;
  box-sizing: border-box;
  font-family: IRANSansX-Medium !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;

  margin: 0;
}
a {
  text-decoration: none !important;
}

#root {
  overflow-x: hidden;
}
.react-calendar__tile--active {
  /* background-color: #ffd369 !important; */
  color: #ffd369 !important;
  border: 2px solid #ffd369 !important;
}
.css-cjctlb-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #ffba1a !important;
}
.css-1aquho2-MuiTabs-indicator {
  background-color: #ffba1a !important;
}
.react-calendar__navigation__arrow {
  color: #f2f2f2 !important;
  background-color: #393e46 !important;
  border: none !important;
  font-size: 2rem !important;
}
.react-calendar__navigation__label {
  color: #f2f2f2 !important;
  background-color: #393e46 !important;
  border: none !important;
  font-size: 2rem !important;
}
.react-calendar__month-view__weekdays {
  margin: auto 0.5rem !important;
  text-align: center !important;
  font-size: large !important;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #ffba1a !important;
}

.MuiPaper-root {
  border-radius: 0.5rem !important;
}
.MuiSelect-select {
  padding: 0.25rem !important;
}
.MuiOutlinedInput-root {
  padding: 0.25rem !important;
}
.MuiOutlinedInput-input {
  padding: 0 !important;
}
.MuiChip-filled {
  background-color: #ffd369 !important;
  color: #595959 !important;
}
.MuiAutocomplete-endAdornment {
  background-color: #d9d9d9 !important;
}

.css-hyxlzm{
  color: #ffd369 !important;
}
abbr{
  text-decoration: none;
}





@media screen and (max-width: 768px){
  .react-calendar__tile abbr {
    color: #ffd369 !important;
    font-size: 12px !important;
    text-align: center;
    font-weight: 700;
  }
  .react-calendar__navigation__arrow {
    color: #f2f2f2 !important;
    background-color: #393e46 !important;
    border: none !important;
    font-size: 0.8rem !important;
  }
  .react-calendar__navigation__label {
    color: #f2f2f2 !important;
    background-color: #393e46 !important;
   
    border: none !important;
    font-size: 0.8rem !important;
  }
  .react-calendar__month-view__weekdays {
    margin: auto 0.5rem !important;
    text-align: center !important;
    font-size: 12px !important;
  }
.react-calendar__month-view__days{
display: flex;
gap: 9px;
}
}