.Accordin {
  width: 100% !important;
  margin: 1rem auto !important;
  padding: 0 !important;
}
.labelAccordion {
  color: #595959;
  font-family: Inter-Regular;
  margin: 0;
}
.calenderBox {
  padding: 0 2rem !important;
  border-radius: 1rem !important;
  background-color: #ffd369 !important;
  display: flex !important;
  justify-content: center !important;
  width: 100% !important;
  /* margin: auto 1rem !important; */
}
.content {
  font-size: 20px !important;
  background-color: #393e46 !important;
  color: #f2f2f2 !important;
  border: 2px solid #f2f2f2 !important;
  border-radius: 0.5rem !important;
  margin: 2px !important;
  padding: 0.25rem !important;
  width: 1rem !important;
}
.backgroundCalender {
  padding: 0.5rem;
  background-color: #393e46;
  border-radius: 1rem !important;
  text-align: center !important;
  color: #f2f2f2 !important;
  width: 90% !important;
  margin: 1rem auto !important;
  height: 100% !important;
}
.meetingBox {
  padding: 2rem !important;
  background-color: #393e46;
  border-radius: 1rem !important;
  text-align: center !important;
  color: #f2f2f2 !important;
  height: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  margin: 1rem auto !important;
}
.boxCenter {
  justify-content: center !important;
  margin: auto 1rem !important;
}

@media screen and (max-width: 768px) {
  .calenderBox {
    /* padding: 0 2rem !important; */
    border-radius: 1rem !important;
    background-color: #ffd369 !important;
    display: flex !important;
    justify-content: center !important;
    width: 100% !important;
    flex-direction: column !important;
    /* margin: auto 1rem !important; */
    gap: 10px !important;
  }
  .meetingBox {
    height: 55% !important;
    width: 67%;
  }
  .meetingBox h2,
  h3,
  h4 {
    font-size: 0.7rem;
    line-height: 10px;
  }
  .backgroundCalender {
    height: 90% !important;
  }
  .accordionDetails {
    width: 30% !important;
    margin: 0;
  }

}
