.containerLogin {
  width: 100% !important;
  background-color: #f2f2f2 !important;
  justify-content: center !important;
  align-items: center !important;
  overflow-y: hidden !important;
}
/* .imageBox, */
.card {
  height: 100vh !important;
  width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  padding: 3rem 4rem !important;
}
.imageBox img {
  margin: auto 5rem !important;
}

@media only screen and (max-width: 768px) {
  .imageBox {
    display: none !important;
  }
  .containerLogin {
    align-items: center !important;
    flex-direction: column !important;
  }
  .card {
    align-items: center !important;
    padding: 0 !important;
  }
}
