.containerLogin {
  /* height: 100% !important; */
  width: 100% !important;
  background-color: #f2f2f2 !important;
}
.imageBox,
.card {
  width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  padding: 3rem 4rem !important;
}
.imageBox img {
  max-width: 100%;
  margin: 8rem 0 0 4rem;
}

@media only screen and (max-width: 768px) {
  .imageBox {
    display: none !important;
  }
  .containerLogin {
    align-items: center !important;
    flex-direction: column !important;
  }
  .card {
    margin: 6rem auto 0 !important;
    align-items: center !important;
    padding: 0 !important;
  }
}
